
<div class="page" id="about">

  <div class="background"></div>

  <section class="landingpage">
    <pb-headline
      title="about"
      subtitle="The publishing framework for games and visual effects.">
    </pb-headline>

    <a href="" ng-click="scrollTo('find-out-more-developeder')">
      <i class="fa fa-chevron-down"></i>
    </a>
  </section>

  <div id="find-out-more-developeder" class="find-out-more">
    <div class="cover">
      <h1>
        Developed by Abstract Factory
      </h1>
      <p>
        
      </p>
      <a
        href="mailto:hello@abstractfactory.io"
        role="button"
        class="btn btn-default btn-square">
          Contact
      </a>
    </div>
  </div>
</div>