$primary-color: #51abf3;

body {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  font: 300 0.8em/1.28 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.header {
  position: relative;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    margin-right: 10px;
    opacity: 0.8;
  }

  i {
    color: #CCC;
    font-size: 3em;
    padding-right: 10px;
  }

  input {
    position: relative;
    width: 160px;
    top: 1px;
    font-size: 2.2em;
    outline: none;
    background-color: "transparent";
    border: none;
    border-bottom: 2px solid "transparent";
    border-radius: 3px;
    transition: border-bottom ease-out 0.1s;

    &:focus {
      border-bottom: 2px solid $primary-color;
    }
  }
}

.body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 0 0;

  .preset {
    width: 260px;
    height: 130px;
    margin: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
    border-radius: 3px;

    .banner {
      height: 100%;
      width: 60px;
    }

    .content {
      height: 100%;
      width: 200px;
      display: flex;
      flex-direction: column;

      .top {
        width: 100%;
        height: 75%;
        padding: 10px;
        padding-top: 5px;

        p {
          color: #333;

          &.type {
            color: #51abf3;
            font-size: 1.4em;
            height: 10px;
          }

          &.title {
            font-size: 1.6em;
            font-weight: bold;
            height: 10px;
          }

          &.description {
            color: #777;
            font-size: 1.45em;
          }
        }
      }

      .bottom {
        width: 100%;
        height: 25%;
        display: flex;
        position: relative;

        .likes {
          width: 50%;
          border-right: 1px solid #EEE;
          border-top: 1px solid #EEE;
          line-height: 30px;
          padding-left: 10px;
          color: #777;
          font-size: 1.5em;

          span {
            margin-left: 5px;
          }
        }

        .more {
          height: 100%;
          width: 20%;
          border-top: 1px solid #EEE;
          text-align: center;
          color: #777;
          font-size: 1.5em;

          i {
            line-height: 30px;
          }
        }

        .readme {
          position: absolute;
          width: 30%;
          height: 100%;
          color: #51abf3;
          font-size: 10px;
          font-weight: bold;
          line-height: 30px;
          text-align: center;
          text-decoration: none;
          border: 1px solid #51abf3;
          right: 0px;
          transition: color 0.1s, background-color 0.1s;

          &:hover {
            background-color: #51abf3;
            color: white;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  padding-top: 60px;

  justify-content: flex-end;
  text-decoration: none;

  a {
    padding-right: 15px;
    font-size: 1.5em;
    color: #51abf3;
    line-height: 30px;
    transition: color 0.2s;

    &:hover {
      color: darker($primary-color, 1.3);
    }
  }
}

#fourofour {
  height: 100vh;
  width: 100%;

  font-size: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 3em;
  }

  p {
    text-align: center;
    opacity: 0.5;
  }
}